body {
    color: var(--primary-text-color);
    font-family: 'Roboto', Tahoma, sans-serif;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

img {
    display: block;
}

button {
    cursor: pointer;
}