:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --title-hero-text-color: #ffffff;
    --another-text-color: #ffffff;
    --filter-btn-text-color: #212121;
    --akcent-color: #2196F3;
    --hero-bgr-color: #2F303A;
    --team-bgr-color: #F5F4FA;
    --footer-bgr-color: #2F303A;
    --filter-btn-bgr-color: #F5F4FA;
    --icon-fill: #AFB1B8;
}